<div class="card">

    <div class="card-header">

        <div class="card my-5">
            <div class="card-body">
                <h3 style="text-align:center">Modification Categories</h3>
                <form (ngSubmit)="OnSubmitUpdate()">
                    <div class="form-group">
                        <label for="nom">Description </label>
                        <input type="text" [(ngModel)]="categorie.description" class="form-control" id="description" name="description" placeholder="description">
                    </div>
                    <div class="form-group">
                        <label for="local">Image </label>
                        <input type="text" [(ngModel)]="categorie.img" class="form-control" id="local" name="img" placeholder="image name">
                    </div>
                   
                    <button type="submit" class="btn-primary">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>